<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itheima.mapper.DeptMapper">


    <update id = "update">
        update dept_infor
        <set>
            <if test="dpName!= null and dpName != '' ">
            dp_name = #{dpName},
            </if>
        <if test="updateTime != null ">
            update_time = #{updateTime}
        </if>
        </set>
        where dpid = #{dpid}
    </update>
</mapper>